<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782712178786-9nh17spokmlclof4q6ec19vt5c6gch3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782712178786-9nh17spokmlclof4q6ec19vt5c6gch3n</string>
	<key>API_KEY</key>
	<string>AIzaSyC-1NuHCtp9u5PwO7dwxWdtOceS7qmulH8</string>
	<key>GCM_SENDER_ID</key>
	<string>782712178786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsgo.letsgo</string>
	<key>PROJECT_ID</key>
	<string>letsgo-350109</string>
	<key>STORAGE_BUCKET</key>
	<string>letsgo-350109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782712178786:ios:382560edd86e6bc8ec293b</string>
</dict>
</plist>